 /* common */
 .w1200{
  width: 1200px;
  margin: 0 auto;
  /* padding: 10px 0; */
  /* background-color: darkgreen; */
 }
.sp_common{
  background-image: url(../img/sp_common.png);
}
.p40{
  padding: 40px 0;
}
.desk{
  display: block;
}
.mobile{
  display: none;
}

/* header */
#header_top_wrap{
  background-color: #f2f2f2;
}
#header_bottom_wrap{
  position: relative;
  height: 120px;
  border-bottom: 1px solid #d9d9d9;
}
#header_top{
  display: flex;
  justify-content: space-between;
}
#header_top ul{
  display: flex;
  line-height: 40px;
  align-items: center;
}
.h_top_left a{
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border:  1px solid #d9d9d9;
  border-radius: 50%;
  margin: 10px 1px;
  text-indent: -99999px; /*글자를 위로 날려 보이지 않게 하는 것*/
  background-size: cover;
  background-position: center center;
}
.gp{
  background-image: url(../img/u_gp.png);
}
.ap{
  background-image: url(../img/u_ap_m.png);
}
.ip{
  background-image: url(../img/u_in_m.png);
}
.cp{
  background-image: url(../img/u_kc_m.png);
}
.fp{
  background-image: url(../img/u_fb_m.png);
}
.yp{
  background-image: url(../img/u_yt_m.png);
}

.h_top_right li{
  color: #808080;
  margin-left: 20px;
}
.h_top_right a{
  font-size: 12px; 
  color: inherit;  /* 부모의 것을 상속받는 것 */
  text-decoration: none;

}
#header_bottom>h1{
  padding-top: 20px;
}
#header_bottom>h1>a{
  display: block;
  width: 160px;
  height: 30px;
  margin: 0 auto;

}
#h_bottom_fix{
  position: relative;
  padding: 12px 0;
  /* background-color: #222624; */
}
.h_bot_nav{
  display: flex;
  align-items: center;
}
.m_btn{
  width: 26px;
  height: 18px;
  background-position: -22px -32px;
}
.h_bot_nav ul{
  display: flex;
  padding-left: 32px;
}
.h_bot_nav ul a{
  display: block;
  padding: 0 17px;
  font-weight: 700;
  color: #222624;
  line-height: 40px;
  text-decoration: none;
}
.h_bot_right{
  position: absolute;
  right: 0; top: 12px;
  display: flex;
}
.h_bot_right ul{
  display: flex;
  align-items: center;
}
.h_bot_right ul>li{
  width: 45px;   height: 40px;
  position: relative;
}
.h_bot_right a{
  display: block;
  position: absolute;
}
.mypage{
  left: 12px; top: 9px;
  width: 21px;
  height: 21px;
  background-position: -50px -32px;
}
.h_bot_right>ul>.scrap_box{
  display: none;
}
.cart{
  left: 8px; top: 8px;
  width: 28px;
  height: 25px;
  background-position: -72px -32px;
}
.write{
  left: 10px; top: 9px;
  width: 24px;
  height: 22px;
  background-position: -100px -32px;
}
.search{
  height: 40px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 4px;
}
.search>input{
  width: 160px; height: 38px;
  background-color: transparent;
  border: none;
  outline: none;

}
.search>span{
  display: block;
  width: 17px; height: 17px;
  background-position: -125px -32px;
  margin: 0 11px;
}

.mypage{
  left: 12px; top: 9px;
  width: 21px;
  height: 21px;
  background-position: -50px -32px;
}
.scrap_box{
  display: none;  
}
.cart{
  left: 8px; top: 7px;
  width: 28px;
  height: 25px;
  background-position: -72px -32px;
}
.write{
  left: 10px; top: 9px;
  width: 24px;
  height: 22px;
  background-position: -100px -32px;
}
.search{
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 0 5px;
  border-radius: 3px;
  justify-content: space-between;
}
.search>input{
  width: 160px;
  height: 38px;
  background-color: transparent;
  border: none;
  outline: none;
  
}
.search>span{
  display: block;
  width: 17px;
  height: 17px;
  background-position: -125px -32px;
  margin: 0 11px;
}

@media (max-width:1200px) {
  .p40{
    padding: 40px 10px;
    box-sizing: border-box;
  }
  .sp_common{
    background-image: url(../img/sp_common_t.png);
    background-size: 112px auto;
  }
  #header_bottom>h1>a{
    width: 112px;
    height: 22px;
  }
  .m_btn{
    width: 18px;
    height: 14px;
    background-position: -15px -22px;
  } 

  .h_bot_right>ul>li{
    width: 32px;
    height: 28px;
  }
  .mypage{
    left: 8px; top: 7px;
    width: 15px;
    height: 15px;
    background-position: -34px -23px;
  }
  .cart{
    width: 19px;
    height: 19px;
    background-position: -50px -22px;
  }
  .write{
    width: 16px;
    height: 18px;
    background-position: -70px -21px;
  }
  .search>span{
    width: 13px;
    height: 13px;
    background-position: -85px -21px;
  }

  .w1200{
    width: 100%;
  }
}


@media (max-width:767px) {
  .sp_common{
    background-image: url(../img/sp_common_m.png);
    background-size: 100px auto;
  }
  .desk{
    display: none;
  }
  .mobile{
    display: block;
  }
  #header_bottom_wrap{
    border: none;
  }
 #header_top_wrap{
    display: none;
  }
  #header_bottom>h1>a{
    width: 88px;
    height: 17px;
  }
  .m_btn{
    position: absolute;
    width: 20px;
    height: 14px;
    background-position: 0px -37px;
    left: 10px;
    top: 20px;
  }
  .h_bot_right
  {width: 100%;
    padding: 0 10px;
    top: 20px;
    display: flex;
  }
  .h_bot_right>ul{
    position: absolute;
    right: 10px;
    top: 0px;  
  }
  .h_bot_right>ul>li{
    width: 32px;
    height: 28px;
  }
   .cart{
    left: 8px; top: 7px;
    width: 20px;
    height: 18px;
    background-position: 0px -19px;
  }  
  .h_top_right>ul> .scrap_box{
    display: block;
  }
  header.scrap{
    left: 8px; top: 7px;
    width: 15px;
    height: 19px;
    background-position: -21px -18px;
  }
  #h_top_wrap{
    display: none;
  }
  .h_bot_nav nav{
    display: none;
  }
  .h_bot_right li:first-child{
    display: none;
  }
  .h_bot_right li:last-child{
    display: none;
  }
  #h_bottom_fix{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }
  .search{
    position:relative;
    width: 100%;
    top: 40px;
    left: 10px;

  }
  .search>span{
    width: 16px;
    height: 16px;
    background-position: -55px -16px;
  }

}